
container{
  background-color: #EFF0F0;
}

#moveover{
  padding-left: 140px;

}

#padbottom{
  padding-bottom: 30%;
}

#carimg{
  padding-bottom:50px !important;
}

#movetextdown{
  padding-top:23px;
}

.moveup{
  margin-bottom: 308px !important;
}

#gal{
  margin: 10px 10px 10px 10px;
  border: 5px;
  border-style: groove;
  border-color: #3a87ad;
}

.listtitle{
  color: black;
  font-size: 24px;
}
.listitems{
  color: black;
  font-size: 18px;
  margin: 5px 0;
}
#membersrow{
  padding-bottom: 20px;
}

#inactive{
  color: #FFFFFF;
}

#para{
  font-size: 18px;

  font-weight: bold;
}
